*.pyc
*.pyo
*.pyd
__pycache__/
env/
venv/
*.egg-info/
*.dist-info/

db.sqlite3
*.log
*.pot
*.pyc
*.pyo

*.dockerignore
Dockerfile

venv/

.vscode/
.idea/
*.iml

.DS_Store
Thumbs.db

*.kube/
*.yaml

*.log

*.bak
*.swp
